@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');

:root {
    --primary-color: #EF6737;
    --light-orange: #FFF4DE;
    --dark-violet: #201144;
    --light-grey: #F9F9F9;
}

* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

body {
    background-color: #fff;
}

.nav {
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.nav .link {
    text-decoration: none;
    color: #000;
    margin-right: 30px;
    transition: 200ms;
}

.nav .link:hover {
    color: var(--primary-color);
}

.nav .links .link-btn-signin {
    text-decoration: none;
    margin-right: 30px;
    color: #000;
    background-color: var(--light-orange);
    padding: 10px 20px;
    border-radius: 30px;
    transition: 200ms;
}

.nav .links .link-btn-signin:hover {
    background-color: #ebdcc0;
}

.nav .links .link-btn-signup {
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 30px;
    transition: 200ms;
}

.nav .links .link-btn-signup:hover {
    background-color: #d0562a;
}

.text-color-primary {
    color: var(--primary-color);
}
.text-bold {
    font-weight: 700 !important;
}
.text-w900 {
    font-weight: 900 !important;
}


/* INTRO SECTION */
.intro-section {
    margin-top: 80px;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
}
.intro-section-left h1, .intro-section-left span {
    font-size: 4rem;
    font-weight: 400;
}
.intro-section-left .search-box {
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 30px;
    box-shadow: 4px 14px 80px rgba(0,0,0,0.08);
}
.search-box input {
    margin-left: 30px;
    border: none;
    outline: none;
    width: 100%;
}
/* INTRO SECTION */


/* SECTION STATS */
.stats-section {
    background-color: var(--dark-violet);
    color: #fff;
    margin-top: 100px;
    padding: 90px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}
.stat {
    text-align: center;
}
.stat h3 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--primary-color);
}
.stat p {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 10px;
}
/* SECTION STATS */



/* SECTION FEATURES */
.features-section {
    margin-top: 50px;
    padding: 40px 80px;
}
.features-section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.feature-cards {
    margin-top: 80px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.feature-card {
    padding: 20px 30px;
    width: 320px;
    border-radius: 28px;
    background-color: #fff;
    box-shadow: 12px 16px 80px rgba(0,0,0,0.03);
}
.feature-icon {
    width: fit-content;
    border-radius: 16px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-1 {
    background-color: #E2564B;
    box-shadow: 4px 4px 8px rgba(226,86,75,0.25);
}
.feature-2 {
    background-color: #242854;
    box-shadow: 4px 4px 8px rgba(36,40,84,0.25);

}
.feature-3 {
    background-color: #639AD6;
    box-shadow: 4px 4px 8px rgba(99,154,214,0.25);
}
.feature-4 {
    background-color: #EA786C;
    box-shadow: 4px 4px 8px rgba(234,120,108,0.25);
}
.feature-card h3 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20px;
}
.feature-card p {
    margin-top: 10px;
}
/* SECTION FEATURES */


/* SECTION COMPANIES */
.companies-section {
    margin-top: 100px;
    padding: 60px 80px;
    background-color: var(--light-grey);

}
.companies-section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.companies {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}
/* SECTION COMPANIES */


/* SECTION TESTIMONIAL */
.testimonial-section {
    margin-top: 100px;
    padding: 40px 80px;
}
.testimonial-section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.testimonial-cards {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.testimonial-card {
    padding: 40px;
    border-radius: 34px;
    background-color: #fff;
    box-shadow: 14px 30px 80px rgba(0,0,0,0.03);
}
.user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-info img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
.user-info .user-name {
    font-size: 1.5rem;
    font-weight: 700;
}
.user-info .user-designation {
    font-weight: 400;
}
.testimonial-card .user-review {
    margin-top: 40px;
}
/* SECTION TESTIMONIAL */


/* SECTION COURSES */
.courses-section {
    margin-top: 100px;
    padding: 40px 80px;
}
.courses-section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.course-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}
.course-card {
    background-color: #fff;
    border-radius: 8px;
    border: 4px solid #fafafa;
    padding: 16px;
    padding-bottom: 40px;
    transition: 200ms;
}
.course-card:hover {
    cursor: pointer;
    border: 4px solid #ececec;
}
.course-img-box img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px;
}
.course-title {
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: 15px;
}
.course-instructor {
    margin-top: 15px;
}
.course-price {
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-color);
}
.courses-section .courses-explore-more {
    text-align: center;
    margin-top: 100px;
}
.btn {
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    padding: 15px 30px;
    border-radius: 40px;
    transition: 200ms;
}
.btn:hover {
    background-color: #d0562a;
}
/* SECTION COURSES */


/* SECTION TEAM */
.team-section {
    margin-top: 100px;
    padding: 100px 80px;
    background-color: var(--light-grey);
}
.team-section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.team-cards {
    margin-top: 100px;
}
.team-card {
    width: 350px;
    background-color: #fff;
    display: inline-block;
    border-radius: 8px;

    /* margin-right: 50px; */
}
.team-person-img-box {
    background: url("../assets/team-bg.svg");
    background-position: center;
    background-size: 350px 350px;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.team-person-img-box img {
    width: 350px;
    height: 350px;
    margin-bottom: -7px;
    border-radius: 8px;
}
.team-person-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 20px;
}
.team-person-details h3 {
    font-size: 24px;
    font-weight: 700;
}
.team-person-details p {
    font-size: 20px;
}
.team-social {
    display: flex;
    align-items: center;
    gap: 20px;
}
.team-person-details a {
    text-decoration: none;
    outline: none;
}
.swiper {
    width: 100%;
    /* height: 500px; */
}
.swiper-button-prev {
    background-color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.swiper-button-prev::after {
    font-size: 1rem !important;
}
.swiper-button-next {
    background-color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.swiper-button-next::after {
    font-size: 1rem !important;
}
/* SECTION TEAM */



/* SECTION DOWNLOAD APP */
.download-app-section {
    margin-top: 100px;
    padding: 100px 80px;
}
.download-app-section-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
.download-section-details {
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.download-section-details h3 {
    font-size: 3rem;
    font-weight: 900;
}
.download-section-details p {
    margin-top: 20px;
    font-size: 1.5rem;
}
.download-section-store-links {
    margin-top: 80px;
}
.download-section-store-links a {
    text-decoration: none;
    margin-right: 20px;
}
/* SECTION DOWNLOAD APP */


/* SECTION FOOTER */
.footer {
    margin-top: 100px;
    padding: 0px 80px;
    background-color: var(--dark-violet);
    color: #fff;
}
.footer-links-container {
    display: flex;
    gap: 100px;
}
.links-container {
    margin-top: 50px;
}
.footer-address {
    display: flex;
    align-items: center;
    margin-top: 35px;
    gap: 20px;
    text-decoration: none;
    color: #fff;
}
.footer-mail {
    display: flex;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    text-decoration: none;
    color: #fff;
}
.footer-social {
    margin-top: 30px;
}
.footer-social-link {
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
}
.link-container-title {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;
}
.link-container-title::after {
    content: "";
    position: absolute;
    width: 25%;
    border-bottom: 1px solid #fff;
    bottom: -5px;
    left: 0;
}
.footer-link {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 20px;
}
.copyright {
    text-align: center;
    margin-top: 50px;
    padding: 50px 0px;
}
.copyright p {
    font-size: 1rem;
    text-align: center;
}
/* SECTION FOOTER */
